# Python specific #
###################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
VENV/

# Install logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Static files
staticfiles/

# Unit test / Coverage reports
test-results.xml
coverage/
.tox/

# IDE specific files
####################

# VS Code
.vscode/

# JetBrains (PyCharm/WebStorm)
.idea/

# Node / JavaScript specific #
##############################

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build files
dist/
build/
.cache/
.parcel-cache/
.next/
out/
.vite/
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Mac OS specific #
####################

# General MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnail cache files
._*

# Temporary files
.TemporaryItems
.Trashes
